body{
  border-color: #400;
  border: 10px dotted;
  border-radius: 2em;
  margin: 30px;
  padding: 10px;
}

h1 {
  background: #060;
  color: white;
  font-weight: bold;
  font-size: 70px;
  margin: 50px;
  margin-bottom: 10px;
  margin-top: 15px;
  border: 10px solid;
  border-radius: 2em;
}

h2 {
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 5px;
  margin-top: 10px;

}

#rock{
  height: 200px;
  width:200px;
  font-size: 30px;
  font-weight: bold;
  background:white;
  border: 10px dotted;
  margin: 20px;
  border-radius: 2em;
}

#paper{
  height: 200px;
  width:200px;
  font-size: 30px;
  font-weight: bold;
  background:white;
  border: 10px dotted;
  margin: 20px;
  border-radius: 2em;
}

#scissors{
  height: 200px;
  width:200px;
  font-size: 30px;
  font-weight: bold;
  background:white;
  border: 10px dotted;
  margin: 20px;
  border-radius: 2em;
}

table {
  color: black;
  font-size: 25px;
  margin-bottom: 20px;
  border-width: 5px;
  background: white;


}

#reset{
  height: 30px;
  width:80px;
  font-size: 20px;
  font-weight: bold;
}

#playagain{
  height: 30px;
  width:180px;
  font-size: 20px;
  font-weight: bold;
  margin: 20px
}


